@using TwitterBot.Helpers

<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' ng-app='twitterBot'>
    <head>
        <base href='/'>
        <title>Twitter Bot</title>

        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.1/css/all.css' integrity='sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP' crossorigin='anonymous'>
        <link href='@("css/main.css".AppendVersion())' rel='stylesheet' />

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    </head>
    <body role='document'>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>