<div class="row">
    <div class="col-md-12">
        <h2>In progress</h2>
        <ul class="mt-3">
            <li>
                <p>Tweet management: Tweet rejection, modifying date/time of a scheduled tweet, icon changes.</p>
            </li>
            <li>
                <p>Account management: Public vs private twitter accounts so you can add your own personal twitter account, but only you have access.</p>
            </li>
            <li>
                <p>Retweet authorized mentions: Mentions from portal-based accounts are automatically added to the management queue.</p>
            </li>
        </ul>
        <h2 class="mt-3">Future development</h2>
        <ul class="mt-3">
            <li>
                <p>User voice: Add Uservoice functionality to solicit feedback and improve app.</p>
            </li>
            <li>
                <p>Email management: Approve or reject tweets from email; possibly modify tweets from email.</p>
            </li>
            <li>
                <p>Notification management: Decide what type of notifications you want sent to your email, and on what schedule.</p>
            </li>
            <li>
                <p>Retweet mentions: Mentions from any account are automatically added to the management queue.</p>
            </li>
            <li>
                <p>UX Improvements: Tabs for the tweet queue, rejected tweets, a table to allow you to easily compare values.</p>
            </li>
            <li>
                <p>Twitter logout: Allows you to log out of your currently logged-in twitter account from portal.</p>
            </li>
            <li>
                <p>Security group access: Allow anyone from a security group to manage a twitter account (multiple people can approve tweets).</p>
            </li>
            <li>
                <p>Content tweet automation: Automatically tweet out new articles based on repo and handle.</p>
            </li>
            <li>
                <p>Link shortener: Similar to bit.ly, a link shortener that is less controlled than aka.ms.</p>
            </li>
        </ul>
    </div>
</div>
