<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h5 class="card-title">Management portal</h5>
                <p class="card-text">Manage Twitter accounts and user settings.</p>
                <h2><i class="fas fa-cog fa-3x home-icons" ng-click="manage()"></i></h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h5 class="card-title">Tweet portal</h5>
                <p class="card-text">Compose and schedule tweets.</p>
                <h2><i class="fab fa-twitter fa-3x home-icons" ng-click="tweet()"></i></h2>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <p>
            The purpose of this application is to provide Twitter account sharing on a tweet-by-tweet approval basis, rather than granting unlimited permission to another user.
            You authorize this application with your Twitter account(s), and Microsoft internal users can compose and schedule a tweet to your account. If you approve the tweet, it will be
            posted by an automated service at the scheduled time.

            Get started by visiting the <a href="" ng-click="manage()">management portal</a> to add a Twitter account, or visit the <a href="" ng-click="tweet()">tweet portal</a> to compose
            and schedule a tweet to any configured account.
        </p>
        <div class="alert alert-warning mt-2" role="alert">
            <strong>Note: </strong> <a href="https://microsoft.sharepoint.com/teams/Sprinklr/SitePages/Home.aspx">Sprinklr</a>​​​​​​ is the platform of record for managing Microsoft's social media accounts, and is required for all publishing and engagement for any social account with more than 1,000 fans/followers.
        </div>
    </div>
</div>