<div class="row">

    <div class="col-md-6">
        <h2 class="mb-3">Compose and schedule</h2>
        <p class="mb-3">
            Select a handle, compose a tweet, and choose a time when the status will be posted to the account. The
            request will be routed to the handle owner for approval.
        </p>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="handleSelect">Twitter handle</label>
            </div>
            <select class="custom-select" id="handleSelect" ng-model="tweetSubmitObject.handle">
                <option ng-repeat="handle in handles" value="{{handle}}">{{handle}}</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fab fa-twitter fa-lg twitter"></i>
                </span>
            </div>
            <textarea class="form-control" rows="5" id="body-text"
                      ng-keyup="calculateCharsRemaining($event)"
                      ng-model="tweetSubmitObject.body"></textarea>
        </div>
        <div class="input-group mb-3">
            <span id="charsRemaining" class="badge">0 / 280</span>
        </div>
        <div class="input-group mb-3">
            <label>Leave either date <strong>or</strong> time blank to post the tweet as soon as it's approved.</label>
            <div class="input-group-prepend">
                <span class="input-group-text">
                    Scheduled date & time
                </span>
            </div>
            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" ng-model="tweetSubmitObject.date">
            <input type="time" class="form-control" ng-model="tweetSubmitObject.time" />
        </div>

        <button type="button" ng-disabled="!isValidTweet"
                class="btn btn-success mb-3 tweet" ng-click="submitTweet()">Create Tweet</button>

        <div class="alert alert-danger" role="alert" ng-show="error">
            <strong>Oops!</strong> {{errorMessage}}
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <h2 class="mb-3">Your tweet queue</h2>
        <p class="mb-3">
            View your current queue of Tweets. The icons indicate whether or not the handle owner has approved your request.
            You can <b>Delete</b> both approved and unapproved Tweets. The <i class="fab fa-twitter-square fa-lg twitter"></i> indicates
            that the Tweet has been posted and is safe to delete from your queue.
        </p>

        <div ng-if="isLoadingQueue" class="d-flex p-3 align-items-center border border-common rounded">
            <strong>Loading tweet queue...</strong>
            <div class="spinner-border text-success ml-auto" role="status" aria-hidden="true"></div>
        </div>
        <div class="list-group scroll-group">
            <div ng-repeat="tweet in tweetQueue" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <h5 class="mb-1 handles">{{tweet.TwitterHandle}}</h5>
                    <small>{{tweet.CreatedTime}}</small>
                </div>
                <p class="mb-1 wrapped">{{tweet.StatusBody}}</p>
                <div class="d-flex w-100 justify-content-between mt-2">
                    <span>
                        <i class="far fa-clock fa-sm" style="vertical-align: middle;"></i>
                        <small class="my-auto">{{tweet.ScheduledStatusTime}}</small>
                    </span>

                    <span>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="cancelTweet(tweet.Id, $index)">Delete</button>
                        <i ng-show="!tweet.IsApprovedByHandle" class="fas fa-times-circle fa-lg" style="vertical-align: middle;"></i>
                        <i ng-show="tweet.IsApprovedByHandle" class="fas fa-check fa-lg" style="vertical-align: middle;"></i>
                    </span>
                </div>
                <div class="mt-2">
                    <i ng-show="tweet.IsPostedByWebJob" class="fab fa-twitter-square fa-lg twitter"></i>
                </div>
            </div>
        </div>
    </div>

</div>