.fa-times-circle {
    color: #dc3545;
}

.fa-check, .fa-check-circle {
    color: #28a745;
}

.home-icons {
    color: #1DA1F2;
}

.home-icons:hover {
    color: #1c5fc9
}

.twitter {
    color: #1DA1F2;
}

#redirect-card {
    margin-top: 50px;
}

.fa-exclamation-triangle {
    color: #ffc107;
}

.fa-compress {
    color: #d4d4d4;
}

.fa-compress:hover {
    color: #a8a8a8
}
